.pagina-cadastro {
    width: 100%;
    display: flex;
    height: 100%;
    border-radius: 5px;
    font-size: 13px;
}


.input-container-left {
    align-items: flex-end;
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: 0.7s;
    position: relative;
    right: 120px;
}

.input-container-left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    text-align: left;
}

.input-container-left-hide {
    transition: 0.7s;
    width: 0%;
}


.input-logo-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.input-logo-container>h1 {
    font-size: 50px;
}

#input-h1 {
    font-size: 47px;
}

.left-content-items {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.left-content-items>input,
select {
    width: 100%;
    height: 40px;
    border: 1px solid goldenrod;
    background-color: rgb(56, 56, 56);
    color: goldenrod;
    padding-left: 10px;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

.left-content-items>p {
    margin-bottom: 5px;
    position: relative;
    left: 3px;
}


#input-btn {
    height: 40px;
    width: 200px;
    width: 75%;
    background-color: goldenrod;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    position: relative;
    margin-top: 20px;

}

#input-btn:hover {
    cursor: pointer;
    background-color: rgb(153, 116, 24);
    top: 1px;
}

span {
    font-size: 18px;
}


.slider-amarelo {
    background-color: goldenrod;
    width: 300px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -290px;
    transition: 0.7s;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.slider-amarelo-on {
    transition: 0.7s;
    right: 280px;
}



.buscar-visitante, .ajuda {
    background-color: goldenrod;
    height: 50px;
    width: 230px;
    position: relative;
    left: -140px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: black;
    padding: 10px;
    transition: 0.7s;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.buscar-visitante:hover, .ajuda:hover {
    cursor: pointer;
    background-color: rgb(180, 138, 32);
} 

.buscar-visitante-on {
    left: 230px;
    transition: 0.7s;
    position: relative;
    width: 230px;
}


.foto-container{
    display: flex;
    gap: 20px;

    align-items: center;
}
#tirar-foto{
    background-color: goldenrod;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 20%;
    font-size: 20px;
}