.pagina-busca {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    transition: 0.7s;
    display: none;
}
.pagina-busca-on{
    display: flex;
    position: relative;
    align-items: center;
}

.pagina-busca-container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color:#979797;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.438);
}
.busca-options-left-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    padding: 10px;
}

#pesquisar-por-nome,
#pesquisar-por-documento {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 5px;
    padding: 0px 5px;
    letter-spacing: 0.5px;
    font-size: 18px;
    outline: navajowhite;
    padding-left: 10px;
    width: 100%;
    border: none;
}


.busca-options-right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.dia-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390px;
    margin-bottom: 10px;
    gap: 10px;
    
}
.dia-container-mes {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.dia-container-mes>button {
    height: 30px;
    width: 70px;
    padding: 5px;
    background-color: goldenrod;
    border: none;
    font-size: 15px;
}

.dia-container-mes>button:hover {
    cursor: pointer;
}

.dia-container-dia {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    transition: 0.7s;
}


.dia {
    width: auto;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.356);
    transition: 0.4s;
    padding: 5px;
    padding: 0px 5px;
    user-select: none;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 2px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.291);

}
.dia:hover {
    color: white;
    background-color: #1ABDA6;
    cursor: pointer;
}
#todos-dias{
 width: 157px;
}
#procurar {
    height: 30px;
    width: 100%;
    background-color: #1ABDA6;
    border: 1px solid rgba(0, 0, 0, 0.194);
    border-radius: 5px;
    color: black;
    text-align: center;
    padding: 0px 10px;
    letter-spacing: 0.5px;
    font-size: 15px;
    outline: none;
}

#procurar:hover {
    cursor: pointer;
    background-color: #19b19d;  
}

.output-filtro-container {
    padding: 20px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    gap: 5px;
    border-bottom: none;

}

.output-filtro-container>h1 {
    color: goldenrod;
    font-size: 40px;
    margin-bottom: 20px;
}


#output-btn {
    height: 40px;
    width: 200px;
}





#proximo {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 50px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: 0.5s;
    background-color: rgba(63, 63, 63, 0.356);

}
.dia-container-mes>p {
    font-size: 30px;
}
#anterior{
    width: 50px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: 0.5s;
    background-color: rgba(63, 63, 63, 0.356);

}
#proximo:hover, #anterior:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.217);
    cursor: pointer;
    transition: 0.5s;
    background-color: rgba(63, 63, 63, 0.356);
}






#select-dia {
    height: 30px;
    background-color: goldenrod;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    text-align: center;
    padding: 0px 5px;
    letter-spacing: 0.5px;
    font-size: 15px;
}

#select-dia:hover {
    cursor: pointer;
    background-color: rgb(175, 132, 24);
}

#select-mes {
    height: 30px;
    width: 100px;
    background-color: goldenrod;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 15px;
}

#select-mes:hover {
    cursor: pointer;
    background-color: rgb(175, 132, 24);
}


.output-screen {
    border-radius: 5px;
    text-align: center;

}

#output-h2 {
    padding: 10px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.726);
    display: none;
}

.output-screen-container-titles {
    width: 100%;
    display: flex;
}
.nada-encontrado{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.588);
    display: none;
}

.output-screen-container-titles>* {
    width: 120px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.568);
    padding: 5px;
    font-size: 15px;
    letter-spacing: 0.5px;
    background-color: rgba(128, 128, 128, 0.356)
}

.colunas-container {
    width: 100%;
    display: flex;
    overflow: scroll;

}

.colunas-container>* {
    width: 120px;
    height: 90%;
    border: 1px solid rgba(0, 0, 0, 0.568);

}

.colunas-container>*>* {
    border-bottom: 1px solid rgba(0, 0, 0, 0.582);
    padding: 5px;
    font-size: 15px;
    background-color: rgba(54, 54, 54, 0.331);
}

.col-title-visita,
.output-col-visita {
    width: 180px;
}

