*{
    font-family: 'Helvetica';
}

.registration-interface{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 25px;
    width: 30%;
    padding-top: 40px;
    background-color: rgba(53, 53, 53, 0.757);
    box-shadow: 10px 0px 15px rgba(255, 255, 255, 0.065);
    border-right: 1px solid rgba(255, 255, 255, 0.406);
    height: 100vh;
}

.registration-interface > input{
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.356);
    padding-left: 10px;
    outline: none;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    letter-spacing: 0.5px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.128);
}


.registration-interface > select {
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.356);
    padding-left: 10px;
    outline: none;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.644);
    border: 1px solid rgba(255, 255, 255, 0.128);
}
select:hover{
    cursor: pointer;
}
option{
    background-color: rgba(0, 0, 0, 0.824);
    border: none;
}
.registration-interface>h4 {
    text-align: center;
}
.registration-interface>p {
    margin-bottom: 5px;
    position: relative;
    left: 3px;
}

span {
    font-size: 18px;
}



.buscar-visitante, .ajuda {
    background-color: goldenrod;
    height: 50px;
    width: 230px;
    position: relative;
    left: -140px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: black;
    padding: 10px;
    transition: 0.7s;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.buscar-visitante:hover, .ajuda:hover {
    cursor: pointer;
    background-color: rgb(180, 138, 32);
} 

.buscar-visitante-on {
    left: 230px;
    transition: 0.7s;
    position: relative;
    width: 230px;
}




.cadastro-warning-hide{
    color: red;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    display: none;
}
.cadastro-warning-show{
    display: block;
}
#limpar-dados{
    width: 50%;
    padding: 5px 5px;
    font-size: 15px;
    color: black;
    position: relative;
    right: 0px;
    background-color: #1ABDA6;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.194);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.518);
    font-weight: bold;
    margin-top: 10px;
    letter-spacing: 0.5px;
}   
#limpar-dados:hover{
    cursor: pointer;
    top: 1px;
}
#btn_cadastrar {
    height: 40px;
    width: 100%;
    background-color: #1ABDA6;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    position: relative;
    margin-top: 15px;
    border: 1px solid rgba(0, 0, 0, 0.194);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.292);
}

#btn_cadastrar:hover {
    cursor: pointer;
    background-color: #19b19d;
    top: 1px;
}


input{
    color: white;
}