* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Helvetica';
    max-width: 1920px;
    height: 100vh;

}
.main-container {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: black;
    background-color: #D7DBD6;
    color: rgba(0, 0, 0, 0.641);
}
.left-menu{
    width: 200px;
    background-color: gray;
    background-color:#1ABDA6;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 20px 0px
}
.left-menu > button{
    width: 200px;
    height: 60px;
    font-size: 15px;
    border: none;
    font-size: 17px;
    background-color: #75ebdb;
    color: black;
    letter-spacing: 0.5PX;
    outline: none;
}
